<app-top-bar></app-top-bar>
<div class="container">
<router-outlet></router-outlet>
</div>

<section>
    <div id="bgimg">
      <div  id="hero">
       <div class="para">
        <p>Won't it be nice to show us your amazing capability in coming up with<br>quotes ,we give you the power to actually do this and be the best at it , you'll get a heart for <br>writing an inspirational quote<br><i>buena Suerte[GOOD LUCK!]</i> </p>
        <img class="jara" src="../assets/images/kisspng-book-silhouette-royalty-free-clip-art-open-book-5abd87d0b389d5.0825921915223705127354.png">
        </div>
       </div>
       </div>
       </section>

       <div class="gallery">
          <div class="container events-header d-flex">
            <div class="news">
              <h3 class="text-capitalize pl-4">Checkout some of the best quotes ever</h3>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <img src="../assets/images/quote.jpg" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title text-capitalize"></h5>
                    <p class="card-text"><a href="">Just be proud of your hardwork!</a></p> 
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <img src="../assets/images/quote1.jpg" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title text-capitalize"></h5>
                    <p class="card-text"><a href="">Success is on the way</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <img src="../assets/images/quote3.jpeg" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title text-capitalize"></h5>
                    <p class="card-text"><a href="">A Quote from one of the best writers</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <img src="../assets/images/quote4.jpeg" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title text-capitalize"></h5>
                    <p class="card-text"><a href="">Just read those words of wisdom</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="timer">
          <div class="app">
            <h1>Time</h1>
            <p>Created by Mbagaya_@_m.b.a.g.a.y.a</p>
              <div class="quotes">
                  <div id="date"></div>
                  <div id="display"></div>
                <div class="quote-text">

                </div>
          
              </div> 
        </div>