/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
      margin: 0;
  }

.container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  router-outlet + *  {
    padding: 0 16px;
  }

  h2 {
    font-size: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
  }
  
  .news {
    text-align: center;
  }
  p {
    font-size: 21px;
    color: white;
    text-align: end;
  }
  
  i {
    color: white;
  }

  .img-fluid {
    padding-bottom: 1rem;
  }

 .jere {
   height: 10vh;

}


  a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
    transition: color 0.7s ease-in 0.3s;
  }
  
  .jara {
    height: 10vh;
    float: right;
  }
  a:hover {
    opacity: 0.8;
  }

  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
  }

  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }

  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }

  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }

  .fancy-button {
    background-color: white;
    color: #1976d2;
  }

  .fancy-button i.material-icons {
    color: #1976d2;
    padding-right: 4px;
  }

  app-top-bar {
    width: 100%;
    height: 68px;
    background-color: mediumblue;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  app-top-bar h1 {
    color: white;
    margin: 0;
  }

  .events-header{
    justify-content: space-between;
    color: rgb(3, 77, 3);
  }
  .events-header .all h4 i{
    font-size: 12px;
    margin-left: 2px;
  }
  .col-md-3 .card img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: auto;
  }
  .row .col-md-3{
    overflow: hidden;
  }
  .card{
    margin: 20px 10px;
    background-color: #d1dddd;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
  }
  .card-body h5{
    color: #283b42;
  }
  .card-body p{
    color: #1d6a96;
  }

  .gallery{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.2rem;
}
