 /*Code for my header 1 in my .css file*/
 h1 {
    font-family: 'Special Elite', cursive;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  h4 {
    font-family: 'Architects Daughter', cursive;
  }